#banner {
	width: 90%;
	padding: 100px;
	height: 250vh;
	transform: scale(0.8);
}

.principal{
	background: hsl(216, 29%, 17%);
	padding: 50px;
	width: 100%;
	color:white
}

.titulo-principal {
	padding-left: 50px;
	font-size: 80px;
}

.titulo-centralizado {
	font-size: 60px;
	text-align: center
}

.imagemdestaque {
	width: 100%;
}
p {
	text-align: center;
	font-size: 40px;
}

#missao {
	font-size: 40px;
}

em strong {
	color: #ffd429;
}

.itens1 {
	width: 100%;
	font-style: impact
}

.motivos {
	background: #1452347b;
	padding: 60px;
	width: 95%;
	font-size: 30px;
	font-style: impact;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagemmotivoss {
	width: 60%;
}

.Acesse {
color: sienna;
width: 100%;
font-size: 80px;
background-color: rgb(221, 210, 182);

}

.Link {

}

.itens2 {
	padding: 50px;
	font-size: 40px;
	width: 200%;
}
