#banner {
	width: 50%;
}

.principal{
	background: hsl(216, 29%, 17%);
	padding: 50px;
	width: 80%;
	color:white
}

.titulo-principal {
	padding-left: 50px;
	font-size: 80px;
}

.titulo-centralizado {
	font-size: 50px;
	text-align: center
}

p {
	text-align: center;
	font-size: 40px;
}

#missao {
	font-size: 40px;
}

em strong {
	color: #ffd429;
}

.itens {
	font-style: impact
}

.motivos {
	background: #2dad6f7b;
	padding: 60px;
	width: 78%;
	font-size: 30px;
	font-style: impact;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagemmotivoss {
	width: 80%;
}
